node_modules/
venv/
env/
__pycache__/
*.pyc
dist/
build/
.next/
.DS_Store
Thumbs.db
.env
*.env
backend-ai/models/*.pth
backend-ai/models/*.pt
backend-ai/models/*.onnx
backend-ai/weights/*.pth
backend-ai/weights/*.pkl
backend-ai/weights/*.tar
backend-ai/recordings/*
!backend-ai/recordings/.gitkeep
backend-ai/models/*.wav
backend-ai/models/*.mp3
!backend-ai/models/.gitkeep